<%- include header %>
<form action="">
    标题: <%= post.title%><br/>
    正文: <br/>
    <textarea name="" id="" cols="30" rows="10"><%= post.post%></textarea> <br/>
    <input type="submit" type="text" value="保存修改"/>
</form>
<%- include footer%>