<%- include header%>
    <form method="post">
        &nbsp;&nbsp;&nbsp;用户名:<input type="text" name="name"/><br />
       &nbsp; &nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码:<input type="password" name="password"/><br />
        确认密码:<input type="password" name="password-repeat"/><br />
       &nbsp;&nbsp;&nbsp;&nbsp; 邮&nbsp;箱:<input type="email" name="email"/><br />
        <input type="submit" value="注册"/>
    </form>
<%- include footer%>